<footer>
    <div class="footer-container">
        <div class="left-col">
            <img src="/images/logo.png" alt="" class="logo">


            <div class="social-media">

                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <form action="https://formsubmit.co/v3webinar@gmail.com" method="POST">
                <input type="hidden" name="_next" value="https://www.v3webinar.com/">
                <div class="but">
                    <label for="name">Name</label>
                    <input type="text" class="txta" name="user_name" id="name" placeholder="Name">
                </div>
                <div class="but">
                    <label for="mail">E-mail</label>
                    <input type="email" id="mail" class="txta" name="email" placeholder="Email Address">

                </div>

                <div class="but">
                    <label for="msg">Company Name</label>
                    <input type="text" class="txta" name="company-name" id="msg" placeholder="Company Name">
                </div>

                <div class="but">

                    <button type="submit" class=" button btn">Submit</button>
                    <input type="hidden" name="_captcha" value="false">
                    <!-- <input type="hidden" name="_cc" value="ajit.buxi@venaliciumdigital.com"> -->
                </div>

            </form>

        </div>

        <div class="right-col">
            <h1 class="h1footer">THINK OUT OF THE BOX</h1>
            <p class="para">Join 350,000+ fellow marketers to receive a summary of the latest marketing tips from across
                the world directly to your inbox once a week.</p>
            <div class="margin">
                <h1 class="h1footer">WHO WE ARE</h1>
                <p class="para">V3 Media is a digital marketing and media company that provides brand awareness and lead
                    generation services worldwide</p>
                <p class="para">The V3 Media team consists of over 300 marketing specialists, data science experts, and
                    martech engineers that execute and orchestrate over 2,800 campaigns each year.</p>
            </div>




        </div>
        <div class="third">

            <h1 class="h1footer">WHAT WE DO
            </h1>
            <p class="para">V3 Media provides performance-based marketing services by orchestrating multi-channel
                campaigns across email, web, mobile, voice, social, search, and display.</p>
            <p class="para">Brands, agencies, platforms and publishers rely on V3 Media for lead acquisition at
                scale.
                Marketers from large enterprises to small and mid-sized companies use V3 Media experts for their
                marketing programs.</p>


        </div>
        <div class="fourth">
            <h1 class="h1footer">OUR PUBLICATION SITE</h1>

            <a href="https://v3media.online/">
                <h5 class="h5footer">Media Professionals
                </h5>
            </a>
            <a href="https://v3techmedia.online/">
                <h5 class="h5footer">Technology Professionals
                </h5>
            </a>
            <a href="https://v3finmedia.online/">
                <h5 class="h5footer">Finance Professionals

                </h5>
            </a>
            <a href="https://v3hrmedia.online/">
                <h5 class="h5footer"> HR Professionals
                </h5>
            </a>




        </div>
        <div>
            <p class="rights-text">© 2020 All Rights Reserved.</p>
            <p class="rights-text">Designed | Developed & Maintained by <a href="https://bili.co.in">Bili</a> </p>
        </div>
    </div>
</footer>
</div>
<!-- ================================================================= -->

<style>
    .but {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .txta {
        flex: 1;
        padding: 18px 40px;
        font-size: 12px;

        background: #ddd;
        border: none;
        font-weight: 700;
        outline: none;
        border-radius: 10px;
        width: 90%;
        height: 20%;


        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }

    .rights-text {
        color: rgba(245, 245, 245, 0.808);
    }

    .fourth {
        margin-top: 15%;
        margin-left: 10%;
    }

    .margin {
        margin-top: 50px;
    }

    a .h5footer {
        color: whitesmoke;
        text-decoration: none;
        font-size: 14px;
    }

    label {
        color: rgba(245, 245, 245, 0.74);
    }

    a .h5footer:hover {
        color: rgba(245, 245, 245, 0.836);
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }



    .third {
        margin-top: 15%;
        margin-left: 50px;
    }

    .h1footer {
        color: whitesmoke;
        font-size: 20px;
    }



    .h5footer {
        font-size: 16px;
    }

    .h5footer a {
        color: whitesmoke;
        text-decoration: none;
    }

    .para {
        color: rgba(245, 245, 245, 0.596);
        font-size: 12px;
    }

    footer {
        margin-top: 10%;
        background: black;
        padding-top: 50px;
        padding-bottom: 5%;
    }

    .footer-container {
        /* margin-top: 50px; */
        max-width: 100%;

        margin-left: 5%;
        margin-bottom: 5%;
        margin-right: 5%;

        /* padding: 0 20px; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .logo {

        width: 180px;
    }

    .social-media {
        margin: 20px 0;
    }

    .social-media a {
        color: #05a1cc;
        margin-right: 25px;
        font-size: 22px;
        text-decoration: none;
        transition: .3s linear;
    }

    .social-media a:hover {
        color: white;
    }

    .right-col {
        margin-top: 15%;
        margin-left: 50px;
        margin-right: 50px;
    }

    .border {
        width: 100px;
        height: 4px;
        background: #fc5c65;
    }

    .newsletter-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .txtb {
        flex: 1;
        padding: 18px 40px;
        font-size: 16px;
        color: #293043;
        background: #ddd;
        border: none;
        font-weight: 700;
        outline: none;
        border-radius: 30px;
        min-width: 260px;
    }

    .button {
        margin-left: 4%;
        width: 200px;
        height: 50px;
        color: white;
        font-size: 25px;
        border-radius: 5px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button:hover {
        color: black;
        background-color: white;
        font-weight: 700;
    }

    .page-content {
        min-height: 100vh;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width:960px) {
        .footer-container {
            max-width: 600px;
        }

        .right-col {
            width: 100%;
            margin-bottom: 60px;
        }

        .left-col {
            width: 100%;
            text-align: center;
        }

        .footer-container {
            max-width: 100%;
            margin: 0;
            padding: 0 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }


    @media (min-width: 400px) and (max-width:700px) {
        .btns {
            margin: 0;
            width: 100%;
            margin-top: 20px;
        }

        .footer-container {
            width: 100%;
            margin: 0;
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        footer {
            margin-top: 12%;
            background: black;
            padding: 0;
        }

    }

    @media (max-width: 400px) {
        .footer-container {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr;
        }


        .fourth {
            margin-left: 0;
        }

        footer {
            margin-top: 12%;
            background: black;
            padding: 0;
        }

        .third {
            margin-left: 0;
        }

        .social-media {
            margin: 0;
        }

        .margin {
            margin-left: 0;
        }


    }
</style>
<!-- ==================================================================== -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5f37e94eb7f44f406e951505/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

</body>

</html>