<%- include("partials/header.ejs") %>

<h1>Add Webinar</h1>

<form action="/webinars" method="POST">
    <form action="/webinars/<%= webinar._id %>?_method=PUT" method="POST">
    <input type="text" placeholder="Heading of Webinar" name="webinar[title]">
    <input type="text" placeholder="URL of Image" name="webinar[image]">
    <input type="text" placeholder="Description" name="webinar[description]">
    <button type="submit">Submit</button>


</form>

<%- include("partials/footer.ejs") %>