<%- include("partials/header.ejs") %>

<div class="backgroundimgas">
    <h1 class="title">V3 Webinar</h1>
    <h5 class="subtitle"> Here Business <br /> Get results
        <br /> from <span class="web">Webinar</span></h3>
        <a href="/contactus" class="button btn "> Contact Us!</a>
</div>

<div class="blockas">

    <div class="blogs owl-carousel">
        <div class="blog">
            <img src="https://chronicle.durhamcollege.ca/wp-content/uploads/2017/03/Cartoon1.jpg" alt="alt">
            <div class="blog-description">
                <div class="categorie">Public Speaking</div>
                <h2 class="title">How to Overcome Your Public Speaking Anxiety</h2>

                <a href="/blogs/5f394a9ac44d2748ac51c53c" class="btnsa">Read More</a>
            </div>
        </div>

        <div class="blog">
            <img src="https://www.tfah.org/wp-content/uploads/2020/04/Webinar-e1586537423926.jpg" alt="alt">
            <div class="blog-description">
                <div class="categorie">Cheapest Webinar Platforms</div>
                <h2 class="title">The Cheapest Webinar Platforms for Marketing, Training, & Small Business in 2020</h2>

                <a href="/blogs/5f39562c18232f4510be6480" class="btnsa">Read More</a>
            </div>
        </div>

        <div class="blog">
            <img src="https://www.tweaktown.com/images/news/6/9/69801_01_elgato-announces-new_full.png" alt="alt">
            <div class="blog-description">
                <div class="categorie"> Best Webinar Equipment</div>
                <h2 class="title">The Best Webinar Equipment To Get For Any Budget</h2>

                <a href="/blogs/5f3959d218232f4510be6482" class="btnsa">Read More</a>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(".owl-carousel").owlCarousel({
        items: 2,
        margin: 20,
        loop: false,
        center: false,
        dots: false
    });
</script>


<div class="h1recentwebinar">
    <h1 class="h1classh1as">Recent Webinar</h1>
</div>
<div class="marginleft">
    <div class="recentwebinar">
        <h2 class="classh2classas">
            <a href="/webinars/5f3944c7c44d2748ac51c539">Register Now!</a>
        </h2>
    </div>
</div>

<div class="blockas">

    <div class="blogs owl-carousel">
        <div class="blog">
            <img src="https://s3.amazonaws.com/prod.tctmd.com/public/styles/header_image/public/2019-07/header_1.jpg?itok=f2559koA"
                alt="alt">
            <div class="blog-description">
                <div class="categorie">Webinar Predictions</div>
                <h2 class="title">Five Webinar Predictions for the 2020s</h2>

                <a href="/blogs/5f395ab818232f4510be6483" class="btnsa">Read More</a>
            </div>
        </div>
        <div class="blog">
            <img src="https://economictimes.indiatimes.com/photo/20474308.cms?from=mdr" alt="">
            <div class="blog-description">
                <div class="categorie">V3webinar</div>
                <h2 class="title">8 Overlooked Webinar Promotion Tactics so Powerful they’re Worth Your Time</h2>

                <a href="/blogs/5f395d0d18232f4510be6485" class="btnsa">Read More</a>
            </div>
        </div>

        <div class="blog">
            <img src="https://www.nzinck.com/wp-content/uploads/2017/01/Conversion-full-width-1200x675.jpg?x20952"
                alt="alt">
            <div class="blog-description">
                <div class="categorie">Webinar Funnel</div>
                <h2 class="title">How to Build a Webinar Funnel with Free Tools like WordPress & Mailchimp</h2>

                <a href="/blogs/5f3960cc18232f4510be6486" class="btnsa">Read More</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(".owl-carousel").owlCarousel({
        items: 2,
        margin: 20,
        loop: false,
        center: false,
        dots: false
    });
</script>









<style>
    .marginleft {
        padding-left: 50px;
        padding-right: 50px;
    }

    .recentwebinar {
        padding-left: 40%;
        padding-right: 40%;
    }

    .classh2classas a {
        letter-spacing: 3px;
        text-align: center;
        color: white;
        background-color: cornflowerblue;
        font-size: 30px;

    }

    .h1classh1as {
        font-size: 70px;
        letter-spacing: 15px;
        text-align: center;

        font-weight: 900;
        color: #6a686a;
    }

    .recentwebinar {
        background-image: url(/images/banner.png);
        background-size: cover;
        min-height: 100vh;
        width: 100%;

        margin-bottom: 20%;
    }

    .backgroundimgas {
        background: linear-gradient(to right bottom, #cccccc41, #cccccca9), url(/images/weiar.png);
        background-size: cover;
        width: 100%;
        min-height: 90vh;
        margin-bottom: 20%;
    }

    .title {
        position: relative;
        padding-top: 20%;
        padding-left: 4%;
    }

    .subtitle {
        position: relative;

        padding-left: 4%;
    }

    .button {
        margin-left: 4%;
        width: 200px;
        height: 50px;
        color: white;
        font-size: 25px;
        border-radius: 5px;
        background-color: black;
    }

    .button:hover {
        color: black;
        background-color: white;
        font-weight: 700;
    }

    .web {
        font-size: 25px;
    }


    .blogs {
        position: relative;

        transform: translateY(-50%);
    }

    .blog {
        overflow: hidden;
        position: relative;
        height: 300px;
        cursor: pointer;
    }

    .blog img {
        width: 100%;
        height: 100%;
    }

    .blog-description {
        position: absolute;
        bottom: -40px;
        background: #333333ca;
        width: 100%;
        padding: 40px;
        transition: .3s linear;
    }

    .blog:hover .blog-description {
        bottom: 0;
    }

    .categorie {
        display: inline-block;
        color: #e77f67;
        font-size: 18px;
        position: relative;
        padding: 0 22px;
    }

    .categorie::before {
        content: '';
        position: absolute;
        width: 14px;
        height: 2px;
        background: #e77f67;
        left: 0;
        top: 13px;
    }

    .categorie::after {
        content: '';
        position: absolute;
        width: 14px;
        height: 2px;
        background: #e77f67;
        right: 0;
        top: 13px;
    }

    .title {
        color: #fff;
        font-weight: 500;
        margin: 5px 0;
    }

    .date {
        font-style: italic;
        color: #e77f67;
        margin-bottom: 20px;
    }

    .btnsa {
        display: inline-block;
        color: #e77f67;
        text-decoration: none;
        border: 1px solid #e77f67;
        padding: 6px 20px;
        opacity: 0;
        transition: .3s linear;
    }

    .blog:hover .btnsa {
        opacity: 1;
    }

    .btnsa:hover {
        color: #fff;
        background: #e77f67;
    }

    .owl-stage {
        display: flex !important;
    }

    @media (min-width: 600px) and (max-width: 996px) {
        .marginleft {
            padding-left: 0;
            padding-right: 0;
        }

        .backgroundimgas {
            background: linear-gradient(to right bottom, #cccccc41, #cccccca9), url(/images/weiar.png);
            background-size: cover;
            width: 100%;

            min-height: 50vh;
            margin-bottom: 30%;
        }

        .recentwebinar {
            background-image: url(/images/banner.png);
            background-size: cover;
            min-height: 50vh;
            width: 100%;
            margin-bottom: 30%;
        }

        .recentwebinar {
            padding-left: 30%;
            padding-right: 30%;
        }





        .h1classh1as {
            font-size: 40px;
            letter-spacing: 15px;
            text-align: center;

            font-weight: 900;
            color: #6a686a;
        }


    }

    /* 
    @media (max-width: 400px) {
        .h1classh1as {
            font-size: 40px;
            letter-spacing: 10px;
            text-align: center;

            font-weight: 900;
            color: #6a686a;
        }
    } */
    @media (min-width: 300px) and (max-width:600px) {
        .marginleft {
            padding-left: 0;
            padding-right: 0;
        }

        .backgroundimgas {
            background: linear-gradient(to right bottom, #cccccc41, #cccccca9), url(/images/weiar.png);
            background-size: cover;
            width: 100%;
            min-height: 40vh;
            margin-bottom: 50%;
        }

        .blog {
            overflow: hidden;
            position: relative;
            height: 200px;
            width: 200px;
            cursor: pointer;
        }


        .title {
            position: relative;
            padding-top: 20%;
            padding-left: 4%;
            font-size: 16px;
        }

        .subtitle {
            position: relative;
            font-size: 14px;
            padding-left: 4%;
        }

        .button {
            margin-left: 4%;
            width: 100px !important;
            height: 40px !important;
            color: white;
            font-size: 10px !important;
            border-radius: 5px;
            background-color: black;
        }

        .button:hover {
            color: black;
            background-color: white;
            font-weight: 700;
        }


        .recentwebinar {
            background-image: url(/images/banner.png);
            background-size: cover;
            min-height: 30vh;
            width: 100%;

            margin-bottom: 50%;
        }

        .recentwebinar {
            padding-left: 30%;
            padding-right: 30%;
        }

        .h1classh1as {
            font-size: 30px;
            letter-spacing: 15px;
            text-align: center;

            font-weight: 900;
            color: #6a686a;
        }

        .classh2classas a {
            letter-spacing: 1px;
            text-align: center;
            color: white;
            background-color: cornflowerblue;
            font-size: 16px;

        }

    }
</style>




<%- include("partials/footer.ejs") %>