<%- include("partials/header.ejs") %>

<h1>Add Blog</h1>

<form action="/blogs" method="POST">
    <!-- 
    <input type="text" placeholder="Heading of bLOG" name="blogtitle">
    <input type="text" placeholder="URL of Image" name="blogimage">
    <input type="text" placeholder="Description" name="blogdescription">
    <button type="submit">Submit</button> -->
    <div class="container">
        <div class="buts">
            <input class="txtc" type="text" placeholder="Heading of bLOG" name="blogtitle">
        </div>
        <div class="but">
            <input class="txtc" type="text" placeholder="URL of Image" name="blogimage">
        </div>
        <div class="but">
            <input class="txtc" type="text" placeholder="URL of intermediate Image" name="blogimage2">
        </div>
        <div class="but">

            <input class="txtc" type="text" placeholder="Description" name="blogdescription">
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage3">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content2">Content</textarea>
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage4">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content3"></textarea>
        </div>
        <div class="but">
            <input type="text" placeholder="Heading" class="txtc" name="heading2">
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage5">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content4"></textarea>
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage6">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content5"></textarea>
        </div>
        <div class="but">
            <input type="text" placeholder="Heading" class="txtc" name="heading3">
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage7">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content6"></textarea>
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage8">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content7"></textarea>
        </div>
        <div class="but">
            <input type="text" placeholder="Heading" class="txtc" name="heading4">
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage9">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content8"></textarea>
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage10">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content9"></textarea>
        </div>
        <div class="but">
            <input type="text" placeholder="Heading" class="txtc" name="heading5">
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage11">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content10"></textarea>
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage12">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content11"></textarea>
        </div>
        <div class="but">
            <input type="text" placeholder="Heading" class="txtc" name="heading6">
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage13">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content12"></textarea>
        </div>
        <div class="but">
            <input type="text" placeholder="Image" class="txtc" name="blogimage14">
        </div>
        <div class="but">
            <textarea type="text" placeholder="CONTENT" name="content13"></textarea>
        </div>











        <button class="btn button" type="submit">Submit</button>
    </div>

</form>

<style>
    textarea {
        width: 100%;
        height: 200px;
    }

    .buts {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .but {
        margin-bottom: 30px;
    }

    .txtc {
        flex: 1;
        padding: 18px 40px;
        font-size: 16px;
        color: orangered;
        background: #ddd;
        border: none;
        font-weight: 700;
        outline: none;

        border-radius: 10px;
        width: 100%;


        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        margin-left: 4%;
        width: 200px;
        height: 50px;
        color: white;
        font-size: 25px;
        border-radius: 5px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button:hover {
        color: black;
        background-color: white;
        font-weight: 700;
    }
</style>

<%- include("partials/footer.ejs") %>